html, body {
  margin: 0;
}

h1, h2 {
  position: absolute;
  z-index: 100;
  width: 100%;
  color: white;
  text-shadow: 1px 2px 4px rgba(2, 3, 11, 0.5);
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  font-size: 12px;
  top: 48px;
  transform: translateX(50%);
}

#park-list {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
